@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Macondo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-text-primary: #424242;
  --color-accent: #849F90;
  --color-button-accent: #F0D49D;
  --color-maroon: #A86F6F;
  --breakpoint-sSm: 430px;
  --animate-title: fadeInDown 900ms ease-in-out;
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-controlIn: slideIn 700ms ease;
  @keyframes slideIn {
    0% {
      transform: translateX(-50px);
    }
    100% {
      transform: translateX(0);
    }
  }

  --animate-controlOut: slideOut 700ms ease;
  @keyframes slideOut {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-50px);
    }
  }

  --animate-popOpen: popOpen 700ms ease-in-out;
  @keyframes popOpen {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    50% {
      opacity: 1;
      transform: scale(1.1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  --animate-popClose: popClose 700ms ease-in-out;
  @keyframes popClose {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(0);
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
}

span.add-schedule-btn-text::before {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #424242;
  position: absolute;
  bottom: 0;
  transition: width 0.5s ease-in-out;
}

button.add-schedule-btn:hover span.add-schedule-btn-text::before {
  width: 100%;
}